@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Kaushan+Script&display=swap');

.Home {
    background: linear-gradient(221deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 48%, rgba(179,0,0,1) 49%, rgba(164,0,0,1) 100%);    
    height: 100vh;
    overflow: hidden;
    &__Area-top {
        width: 73%;
        margin: auto;
        padding-top: 40px;
        align-items: center;
        justify-content: space-between;
        display: flex;
    }

    &__Logo-nike img,
    &__Logo-jordan img {
        width: 160px;
    }

    &__Banner {
        text-align: center;
    }

    &__Banner img{
        width: 560px;
        margin-top: -30px;
    }

    &__Container-frase {
        margin-left: 125px;
    }
    
    &__Container-frase h1 {
        font-family: 'Kaushan Script';
        font-size: 40px;
    }


}